.logo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.stop,
.ok {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    width: 300px;
}
.home{
    margin: 20px 8px;
    display: inline-block;
    color: #fff;
    float: left;
    text-decoration: none;
}
.home:hover{
    color: #e1e2e2;
    text-decoration: none;
}